<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Height_Progress</key>
	<real>2.7</real>
	<key>URL_Domain_Name</key>
	<string>xpt.m.gzjztw.com</string>
	<key>URL_Domain_Name2</key>
	<string>test.app.plat.twyyx.com</string>
	<key>APP_ID</key>
	<string></string>
</dict>
</plist>
